:root {
    --c1-vivid: 247 194 84;
    --c1-pastel: 255 246 228;
    --c1-soft: 255 228 172;
    --c1: var(--c1-vivid);

    --c2-vivid: 25 138 152;
    --c2-pastel: 215 233 235;
    --c2-soft: 170 210 214;
    --c2: var(--c2-vivid);

    --c3-vivid: 250 143 148;
    --c3-pastel: 255 234 235;
    --c3-soft: 252 197 200;
    --c3: var(--c3-vivid);

    --c4-vivid: 1 39 124;
    --c4-pastel: 230 235 246;
    --c4-soft: 201 214 242;
    --c4: var(--c4-vivid);

    --black: 19 19 19;
    --white: 255 255 255;

    --gray: 232 232 232;
    --gray-50: 248 248 248;
    --gray-100: 232 232 232;
}