:root {
    --gray-100: 248 248 248;
    --gray-200: 232 232 232;
    --gray-300: 194 194 194;
    --gray-400: 118 118 118;
    --gray-500: 61 61 61;
    --gray-600: 19 19 19;
    --gray: var(--gray-400);

    --yellow-100: 255 246 228;
    --yellow-200: 255 229 174;
    --yellow-300: 255 213 124;
    --yellow-400: 255 190 55;
    --yellow-500: 227 136 0;
    --yellow-600: 219 105 0;
    --yellow: var(--yellow-400);

    --pink-100: 255 232 233;
    --pink-200: 255 212 215;
    --pink-300: 255 175 195;
    --pink-400: 255 139 168;
    --pink-500: 229 104 136;
    --pink-600: 190 55 90;
    --pink: var(--pink-400);

    --green-100: 222 243 241;
    --green-200: 182 243 238;
    --green-300: 123 224 216;
    --green-400: 0 202 202;
    --green-500: 0 157 157;
    --green-600: 0 95 95;
    --green: var(--green-400);

    --blue-100: 230 235 246;
    --blue-200: 201 218 255;
    --blue-300: 128 157 221;
    --blue-400: 62 89 148;
    --blue-500: 35 54 95;
    --blue-600: 35 54 95;
    --blue: var(--blue-400);

    --white: 255 255 255;
}

