/* input styles */
.input-wrapper, .textarea-wrapper, .checkbox-wrapper, .radio-wrapper, .select-wrapper {
    @apply
        /* Default colors */
        font-medium
        /* Default rounding */
        rounded-full
        /* Transitions */
        transition-transform duration-200 ease-in-out
        /* Prevent flex/grid from resizing the inputs */
        /* self-baseline */
        place-self-start
    ;

    .input, .textarea, .select {
        @apply bg-transparent;
        /* Default rounding */
        /* @apply rounded-full; */
        /* Default size */
        @apply text-sm px-4 py-2 w-full;
        /* Focus */
        @apply focus:outline-none focus:transform;

        /* Disabled */
        @apply disabled:opacity-50 disabled:cursor-not-allowed;
    }

    /* Icons */
    .icon {
        @apply w-5 h-5 -mr-2 ml-4;
    }

    &.size-sm {
        .icon {
            @apply w-4 h-4 -mr-1 ml-3;
        }
        .input, .textarea, .select {
            @apply text-xs px-3 py-2;
        }
    }

    &.size-md {
        .icon {
            @apply w-5 h-5 -mr-1 ml-4;
        }
        .input, .textarea, .select {
            @apply text-sm px-4 py-2; 
        }
    }

    &.size-lg {
        .icon {
            @apply w-6 h-6 -mr-1.5 ml-5;
        }
        .input, .textarea, .select {
            @apply text-base px-5 py-2.5;
        }
    }

    &.size-xl {
        .icon {
            @apply w-7 h-7 -mr-2 ml-5;
        }
        .input, .textarea, .select {
            @apply text-lg px-6 py-3;
        }
    }


    /* border mode */
    &.mode-border {
        appearance: none;
        /* Set a border */
        @apply bg-transparent;

        &.size-sm {
            @apply border-[1.7px];
        }

        &.size-md {
            @apply border-[2px];
        }

        &.size-lg {
            @apply border-[2.2px];
        }

        &.size-xl {
            @apply border-[2.6px];
        }
    }
}




.textarea-wrapper {
        /* Sizes */
        &.size-sm {
            .icon {
                @apply mt-2.5;
            }
            .textarea {
                @apply py-3;
            }
            @apply rounded-xl;
        }
        
        &.size-md {
            .icon {
                @apply mt-2.5;
            }
            /* default */
            .textarea {
                @apply py-3;
            }
            @apply rounded-2xl;
        }
        
        &.size-lg {
            .icon {
                @apply mt-4;
            }
            .textarea {
                @apply py-4;
            }
            @apply rounded-3xl;
        }
        
        &.size-xl {
            .icon {
                @apply mt-5;
            }
            .textarea {
                @apply py-5;
            }
            @apply rounded-3xl
        }
}



.checkbox-wrapper {
    @apply flex grow-0 shrink-0 p-0 w-5 h-5 rounded-md relative;

    /* Sizes */
    &.size-sm {
        @apply w-4 h-4;
    }

    &.size-md {
        /* default */
        @apply w-5 h-5;
    }

    &.size-lg {
        @apply w-6 h-6;
    }

    &.size-xl {
        @apply w-7 h-7;
    }

    .checkbox {
        appearance: none;

        @apply absolute p-0 grow-0 shrink-0 cursor-pointer rounded-md border-0 inset-0;

        &:checked {
            background: black url('data:image/svg+xml;utf8, <svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>') no-repeat center center;
        }  
    }

    /* border mode */
    &.mode-border {
        .checkbox {
            @apply -inset-0.5;
        }
    }
}

.radio-wrapper {
    @apply flex grow-0 shrink-0 p-0 w-5 h-5 relative;

    /* Sizes */
    &.size-sm {
        @apply w-4 h-4;
    }

    &.size-md {
        /* default */
        @apply w-5 h-5;
    }

    &.size-lg {
        @apply w-6 h-6;
    }

    &.size-xl {
        @apply w-7 h-7;
    }

    .radio {
        appearance: none;

        @apply absolute p-0 grow-0 shrink-0 cursor-pointer rounded-full border-0 inset-0;

        &:checked {
            background: black url('data:image/svg+xml;utf8, <svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>') no-repeat center center;
        }   
    }

    /* border mode */
    &.mode-border {
        .radio {
            @apply -inset-0.5;
        }
    }
}

.select-wrapper {
    .select {
        @apply w-full;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;

        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSI4Ij4KICA8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMxMzEzMTMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjQ0IiBkPSJNMTMuMSAxLjIgNy4yNyA2LjkgMS40NCAxLjIiLz4KPC9zdmc+);
        background-repeat: no-repeat;
        background-position-x: calc(100% - 14px);
        background-size: 16px;
        background-position-y: 14px;
        padding-right: 35px;

        /* Sizes */
        &.size-sm {
            background-size: 14px;
            background-position-x: calc(100% - 13px);
            background-position-y: 13px;
            /* default */
            padding-right: 33px;
        }

        &.size-md {
            /* default */
            padding-right: 35px;
        }

        &.size-lg {
            background-position-x: calc(100% - 16px);
            background-size: 18px;
            background-position-y: 17px;
            /* default */
            padding-right: 40px;
        }

        &.size-xl {
            background-position-x: calc(100% - 18px);
            background-size: 21px;
            background-position-y: 20px;
            /* default */
            padding-right: 48px;
        }

        /* border mode */
        &.mode-border {
            /* Set a border */
            /* @apply font-semibold; */
        }
    }
}